<h1><%= @task.title %></h1>
<p class="well"><%= @task.details %></p>
<p>
  <% if @task.completed %>
    <i class="far fa-check-square"></i> <%= " This task is completed" %>
    <% else %>
    <i class="far fa-square"></i><%= " This task is not completed" %>
  <% end %>
</p>

<p>
  <%= link_to "Back to list", tasks_path %>
</p>
